## How much money each state spend on propositions?

1- Importing the pandas lib and configuring the display format of decimal values.

In [52]:
import pandas as pd
pd.options.display.float_format = '${:,.2f}'.format

2- Reading the CSV files.

In [53]:
comm = pd.read_csv("./committees.csv")
cont = pd.read_csv("./contributions.csv")

3- Calculating the total of contributors by each state.

In [60]:
state_person_total = cont.groupby("contributor_state").size().reset_index(name="total_contributors")

4- Calculating the total of money spend by each state.

In [57]:
state_person_cont = cont.groupby("contributor_state").sum()["amount"].reset_index().sort_values(by="amount", ascending=False)

5- Merging the total of contributors and total of money

In [88]:
state_data = state_person_cont.merge(state_person_total, on="contributor_state")

6- Calculating statistic: the amount spend by each contributor on each state.

In [101]:
amount_contributor = pd.DataFrame.from_dict({"amount per contributor": state_data.amount / state_data.total_contributors, "contributor_state": state_data.contributor_state})

7- Merging all data together to show the final result.

In [105]:
state_data.merge(amount_contributor, on="contributor_state")

,contributor_state,amount,total_contributors,amount per contributor
0,CA,"$262,860,278.62",53837,"$4,882.52"
1,NJ,"$38,918,463.00",134,"$290,436.29"
2,NY,"$26,387,902.78",364,"$72,494.24"
3,NC,"$26,204,970.40",73,"$358,972.20"
4,DE,"$12,221,216.00",45,"$271,582.58"
5,IL,"$10,788,867.67",82,"$131,571.56"
6,DC,"$7,338,395.12",61,"$120,301.56"
7,MA,"$5,596,972.01",111,"$50,423.17"
8,IN,"$4,516,704.00",11,"$410,609.45"
9,CT,"$3,660,217.86",35,"$104,577.65"
10,TX,"$1,679,990.75",143,"$11,748.19"
11,FL,"$1,656,924.83",98,"$16,907.40"
12,MD,"$1,462,336.00",38,"$38,482.53"
13,PA,"$1,321,352.34",99,"$13,346.99"
14,VA,"$995,442.38",115,"$8,656.02"
15,SC,"$875,599.00",27,"$32,429.59"
16,AZ,"$829,096.58",110,"$7,537.24"
17,MO,"$701,761.00",37,"$18,966.51"
18,CO,"$192,571.00",85,"$2,265.54"
19,WA,"$152,639.09",131,"$1,165.18"
20,MI,"$114,065.00",41,"$2,782.07"
21,GA,"$96,988.00",115,$843.37
22,RI,"$87,145.00",13,"$6,703.46"
23,OH,"$85,440.00",44,"$1,941.82"
24,UT,"$70,455.00",18,"$3,914.17"
25,NE,"$50,400.00",15,"$3,360.00"
26,TN,"$29,150.00",19,"$1,534.21"
27,NV,"$25,556.67",39,$655.30
28,KS,"$16,771.00",30,$559.03
29,MN,"$10,555.00",34,$310.44
30,OR,"$9,469.41",82,$115.48
31,WI,"$6,598.00",21,$314.19
32,HI,"$1,785.50",25,$71.42
33,NM,"$1,740.00",29,$60.00
34,VT,"$1,459.34",57,$25.60
35,IA,"$1,431.00",9,$159.00
36,ID,"$1,184.67",4,$296.17
37,AL,$805.00,4,$201.25
38,AK,$691.68,14,$49.41
39,LA,$675.00,19,$35.53
40,WY,$660.00,13,$50.77
41,ME,$605.00,18,$33.61
42,BC,$573.34,16,$35.83
43,OK,$475.00,10,$47.50
44,MT,$385.00,4,$96.25
45,KY,$380.00,12,$31.67
46,NH,$345.00,6,$57.50
47,SD,$217.50,1,$217.50
48,AB,$130.00,3,$43.33
49,TE,$100.00,1,$100.00
50,ON,$100.00,1,$100.00
51,WV,$93.00,7,$13.29
52,NB,$40.00,2,$20.00
53,A,$20.00,1,$20.00